<div class="alert alert-info" style="margin-top:20px;">
	<p><h4>系统公告：</h4></p>
	<p>
		欢迎使用ATB投票系统
	</p>
	<p>
		在这里，你可以
	</p>
	<p>
		<strong>1.发起或参与投票</strong>
	</p>
	<p>
		<strong>2.获取实时统计信息</strong>
	</p>
	<p>
		<strong>3.了解最新热点动态</strong>
	</p>
</div>
