<footer class="footer"  id="js_hide_1">
	<p>
		<span class="pull-right" style="text-align: center;">ATB All Rights Reserved</span>
		<small>
			ATB投票系统  专注投票<br />
			本投票系统是一个需注册性质的投票平台，在这个平台上你可以找到很多对你有用的东西<br />
			你可以再这个平台上收集你感兴趣的统计资料，当然，事先要进行注册<br />
			你还可以通过查看最新的投票主题，以此判断近期的社会话题
		</small>
	</p>
</footer>
